
.loader {
    width : 80px;
    height: 80px;
    border: 16px solid white;
    border-top:16px solid #BADA55;
    border-radius: 50%;
    margin:300px 300px 300px 300px;
  }
  
  .spin {
    animation: spinner 1.5s linear infinite;
  }
  
  @keyframes spinner {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }